.about {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.about > h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.about > p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--color-grey-dark);
  margin-bottom: 3rem;
}

.about > h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
