{% extends "layout/admin.njk" %}

{% block content %}
  <section class="admin-home">
    <h1>Gerenciar receitas</h1>

    <div class="admin-grid">
      {% for recipe in recipes %}
        <div class="admin-grid__item">
          <div style="background-image: url({{ recipe.image }})"></div>
          <div>
            <h3>{{ recipe.title }}</h3>
            <span>por {{ recipe.author }}</span>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>

    <a class="button" href="/admin/recipes/create">Nova receita</a>
    
  </section>
{% endblock %}