<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <title>Foodfy | Admin</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header__admin">
      <div class="container">
        <a class="header__brand" href="/admin/recipes">
          <img src="/assets/logo-white.png" alt="Foodfy" />
        </a>
      </div>
    </header>

    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>