.detail {
  padding: 5rem 0;
}

.detail__header {
  text-align: center;
  margin-bottom: 5rem;
}

.detail__header img {
  border-radius: 1.5rem;
  margin-bottom: 5rem;
}

.detail__header h1 {
  font-size: 3.6rem;
  margin-bottom: 4px;
}

.detail__header span {
  font-size: 2rem;
  color: var(--color-grey);
} 

.detail__content {
  margin-bottom: 4rem;
}

.detail__content p {
  color: var(--color-grey-dark);
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.detail__content li {
  list-style: none;
  color: var(--color-grey-dark);
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.detail__content li::before {
  content: "\2022"; 
  color: var(--color-grey-dark); 
  font-weight: bold; 
  display: inline-block;
  width: 1em; 
}

.detail__heading {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.detail__heading h3 {
  font-size: 2.4rem;
  line-height: 2rem;
}

.detail__heading a {
  font-size: 1.2rem;
  color: var(--color-grey-medium);
  text-transform: uppercase;
  margin-left: 0.8rem;
}

.hide {
  display: none;
}