/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-black-regular: #111111;
  --color-pink: #fbdfdb;
  --color-grey: #777777;
  --color-grey-dark: #444444;
  --color-grey-medium: #999999;
  --color-grey-light: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--color-black-regular);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HELPERS */
.container {
  flex: 1;
  max-width: 96rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* HEADER */
.header {
  padding-top: 4rem;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header__brand {
  margin-right: 12rem;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
}

.header__link {
  color: var(--color-black-regular);
}

.header__link.active {
  font-weight: bold;
}

.header__link:first-child {
  margin-right: 3rem;
}

@media only screen and (max-width: 768px) {
  .header > .container {
    flex-direction: column;
    align-items: center;
  }

  .header__brand {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .header__link:first-child {
    margin-right: 1.5rem;
  }
}

/* HEADER: ADMIN */
.header__admin {
  background-color: var(--color-black-regular);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* FOOTER */
.footer {
  padding: 2.4rem 0;
  background-color: var(--color-grey-light);

  font-size: 1.4rem;
  color: var(--color-grey-medium);
  text-align: center;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);

  display: none;
  align-items: center;
  justify-content: center;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  background-color: #fff;
  max-width: 66rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 1.6rem;
  text-align: center;
}

.modal img {
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  object-fit: cover;
}

.modal h3 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.modal span {
  display: block;
  font-size: 1.8rem;
  color: var(--color-grey);
  margin-bottom: 6rem;
}

.modal a {
  color: var(--color-grey-medium);
}
