{% extends "layout/page.njk" %}

{% block header_form %}
  <form class="header__form" action="/" method="GET">
    <input 
      value="{{ filter }}"
      name="filter" 
      type="text" 
      placeholder="Buscar uma receita"
    >
    <button class="button button--small">Buscar</button>
  </form>
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero__content">
      <h1 class="hero__title">As melhores receitas</h1>
      <p class="hero__description">
        Aprenda a construir os melhores pratos com receitas criadas por
        profissionais do mundo inteiro.
      </p>
    </div>
    <div class="hero__image">
      <img src="/assets/chef.png" alt="Chef ilustração" />
    </div>
  </section>

  <section class="recipes">
    <h2 class="recipes__title">Mais acessadas</h2>
    <div class="recipes__grid">
      {% if recipes.length > 0 %}
        {% for recipe in recipes %}
          <div class="recipe" id="{{recipe.id}}">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />
            <h3>{{ recipe.title }}</h3>
            <span>por {{ recipe.author }}</span>
          </div>
        {% endfor %}
      {% else %}
        <p class="alert">Nenhuma receita encontrada 👨‍🍳</p>
      {% endif %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/js/recipes-location.js"></script>
{% endblock %}