{% extends "layout/page.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/pages.css" />
{% endblock %}

{% block content %}
  <!-- HERO -->
  <section class="hero">
    <div class="hero__content">
      <h1 class="hero__title">As melhores receitas</h1>
      <p class="hero__description">
        Aprenda a construir os melhores pratos com receitas criadas por
        profissionais do mundo inteiro.
      </p>
    </div>
    <div class="hero__image">
      <img src="/assets/chef.png" alt="Chef ilustração" />
    </div>
  </section>

  <!-- RECIPES -->
  <section class="recipes">
    <h2 class="recipes__title">Mais acessadas</h2>
    <div class="recipes__grid">
      {% for recipe in recipes %}
        <div class="recipe" id="{{recipe.id}}">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />
          <h3>{{ recipe.title }}</h3>
          {# <span>por {{ recipe.author }}</span> #}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/js/recipes.js"></script>
{% endblock %}