{% extends "layout/page.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/pages.css" />
{% endblock %}

{% block content %}
  <!-- RECIPES -->
  <section class="recipes">
    <div class="recipes__grid">
      {% for recipe in recipes %}
        <div class="recipe" id="{{recipe.id}}">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />
          <h3>{{ recipe.title }}</h3>
          {# <span>por {{ recipe.author }}</span> #}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/js/recipes.js"></script>
{% endblock %}