/** ADMIN RECIPES HOME **/
.admin-home {
  margin: 5rem 0;
}

.admin-home > h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.item {
  display: flex;
}

.item div:first-child {
  margin-right: 2rem;
  width: 17rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
}

.item__content h3 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.item__content span {
  font-size: 1.4rem;
  color: var(--color-grey);
}

.item__content a {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary-color);
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 100%;
  }
}
