/* CHEFS: SHOW */
.detail__chef {
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.detail__chef img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.detail__chef h1 {
  font-size: 3.6rem;
  font-weight: bold;
  margin-top: 2rem;
}

.detail__chef span {
  font-size: 2rem;
  color: var(--color-grey);
}
