/** RECIPES **/
.recipes {
  padding: 5rem 0;
}

.recipes__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.recipes__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}

.recipe {
  cursor: pointer;
}

.recipe img {
  border-radius: 1.5rem;
  width: 30rem;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.recipe h3 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.recipe span {
  font-size: 1.4rem;
  color: var(--color-grey);
}

@media only screen and (max-width: 970px) {
  .recipe {
    text-align: center;
  }

  .recipes__title {
    text-align: center;
  }

  .recipes__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 660px) {
  .recipes__grid {
    grid-template-columns: 100%;
  }
}
