/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-black-regular: #111111;
  --color-pink: #fbdfdb;
  --color-grey: #777777;
  --color-grey-dark: #444444;
  --color-grey-medium: #999999;
  --color-grey-light: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--color-black-regular);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HELPERS */
.container {
  flex: 1;
  max-width: 96rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* HEADER */
.header {
  padding-top: 4rem;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header__brand {
  margin-right: 12rem;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
}

.header__link {
  color: var(--color-black-regular);
}

.header__link.active {
  font-weight: bold;
}

.header__link:first-child {
  margin-right: 3rem;
}

@media only screen and (max-width: 768px) {
  .header > .container {
    flex-direction: column;
    align-items: center;
  }

  .header__brand {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .header__link:first-child {
    margin-right: 1.5rem;
  }
}

/* HERO */
.hero {
  min-height: 36.6rem;
  border-radius: 3rem;
  background-color: var(--color-pink);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 10rem;
  margin-top: 3rem;
}

.hero__title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero__description {
  max-width: 32rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #000;
  opacity: 0.7;
}

.hero__image {
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 3rem;
    flex-direction: column;
    text-align: center;
  }

  .hero__title {
    font-size: 2.8rem;
  }

  .hero__image {
    order: -1;
    align-self: center;
    margin-bottom: 1rem;
  }

  .hero__image img {
    max-width: 70%;
  }
}

/* RECIPES */
.recipes {
  padding: 5rem 0;
}

.recipes__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.recipes__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}

.recipe {
  cursor: pointer;
}

.recipe img {
  border-radius: 1.5rem;
  width: 30rem;
  height: auto;
  margin-bottom: 2rem;
}

.recipe h3 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.recipe span {
  font-size: 1.4rem;
  color: var(--color-grey);
}

@media only screen and (max-width: 970px) {
  .recipe {
    text-align: center;
  }

  .recipes__title {
    text-align: center;
  }

  .recipes__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 660px) {
  .recipes__grid {
    grid-template-columns: 100%;
  }
}

/* FOOTER */
.footer {
  padding: 2.4rem 0;
  background-color: var(--color-grey-light);

  font-size: 1.4rem;
  color: var(--color-grey-medium);
  text-align: center;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);

  display: none;
  align-items: center;
  justify-content: center;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  background-color: #fff;
  max-width: 66rem;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 1.6rem;
  text-align: center;
}

.modal img {
  width: 100%;
  height: 20rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  object-fit: cover;
}

.modal h3 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.modal span {
  display: block;
  font-size: 1.8rem;
  color: var(--color-grey);
  margin-bottom: 6rem;
}

.modal a {
  color: var(--color-grey-medium);
}
