{% extends "layout/admin.njk" %}

{% block content %}
  <section class="admin-create">
    <form action="/admin/recipes" method="POST" class="form">
      <div class="admin-header">
        <h1>Criando receita</h1>
        <button type="submit" class="btn">Salvar receita</button>
        {% if message %}
          <span class="error">* {{ message }}</span>
        {% endif %}
      </div>
      {% include 'admin/fields.njk' %}
    </form>
  </section>
{% endblock %}