/* HEADER: ADMIN */
.header__admin {
  background-color: var(--color-black-regular);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__admin > .container {
  display: flex;
  align-items: center;
}

.header__admin .brand {
  margin-right: 5rem;
}

.header__admin .brand img {
  display: block;
}

.header__admin nav a {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-grey-medium);
  margin-right: 3rem;
  transition: all 200ms;
}

.header__admin nav a.active {
  font-weight: bold;
  color: #fff;
}
